/*@import "~antd/dist/reset.css";*/

/*.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(44, 65, 63);
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px 50px 10px 50px;
}

.App-header h1 {
  margin-left: 0%;
  padding: 30px 50px;
}

.App-link {
  color: #61dafb;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 30px 0px 0px 0px;
  float: left;
  z-index: 10;
  width: 100%;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  background-color: rgb(44, 65, 63);
  border-radius: 10px;
}

nav a:hover {
  background-color: gray;
  color: white;
}

.banner {
  display: inline;
}

.logo {
  vertical-align: middle;
  margin-left: 10px;
}

.profile {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: 0.3s ease;
}

.profile:hover {
  transform: scale(1.1);
}

.float-container {
  padding-left: 20%;
}

.goAnn {
  margin-left: 10%;
  transition: 0.3s ease;
  float: left;
}

.goAnn:hover {
  transform: scale(1.1);
}

.main {
  text-align: center;
  padding: 100px;
}
*/
